---
layout: default
active: websites
---

<p class="lead">
	<i class="fa fa-desktop"></i>
	These are my projects!<br />
	<small>Check them out; click on one of them for a detailed view</small>
</p>

<hr />

<div class="projects">
    {% for item in page.projects %}
	{% assign directory = item[0] %}
	{% assign project   = item[1] %}

	<div class="project col-md-4">
		<a href="{{ directory }}">

			{% if project.images %}
			<div class="image-container">
				<img class="img img-responsive"
				     src="{{ page.relative }}{{ project.images[0].url }}"
				     title="{{ project.images[0].title }}"
				     alt="{{ project.images[0].alt }}" />
			</div>
			{% endif %}

			<p>
				{{ project.short }}
			</p>

		</a>
	</div>
    {% endfor %}
</div>

