---
layout: default
---

{% if page.image %}
<div class="row">
	<div class="col-md-12 logo">
		<img src="{{ page.relative }}{{ page.image.url }}"
			 title="{{ page.image.title }}"
			 alt="{{ page.image.alt }}" />
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>
			{{ page.title }}
			<small>{{ page.date }}</small>
		</h1>
		<p>
			{{ page.short }}
		</p>

		{% if page.website %}
		<a href="{{ page.website }}">
			<i class="fa fa-link fa-lg"></i>
			{{ page.website }}
		</a>
		<br />
		{% endif %}
		{% if page.github %}
		<a href="{{ page.github }}">
			<i class="fa fa-github fa-lg"></i>
			{{ page.github }}
		</a>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h3>What I did:</h3>
		<p>
			{{ page.description | markdownify }}
		</p>
	</div>
</div>

{% if page.technologies %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h3>Technologies used:</h3>
		<ul>
			{% for thing in page.technologies %}
			<li>{{ thing }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% if page.endorsements %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h3>What they had to say about us:</h3>

		{% for endorsement in page.endorsements %}
		<blockquote>
			{{ endorsement.body }}
			<small>{{ endorsement.from }}, {{ endorsement.role }}</small>
		</blockquote>
		{% endfor %}
	</div>
</div>
{% endif %}

